<h1>Rock, Paper, Scissors</h1>

<form method="POST" action="/">
	<input type="text" name="name" placeholder="Player 1 Name">

	<select name="choice">
		<option value="r">Rock</option>
		<option value="p">Paper</option>
		<option value="s">Scissors</option>
	</select>


	<input type="submit">
</form>

<% if session[:wins] || session[:losses] %>
	<h3>Wins: <%= session[:wins] %></h3>
	<h3>Losses: <%= session[:losses] %></h3>
<% end %>