<h1>Rock, Paper, Scissors</h1>




<h2><%= $results %></h2>

<% if session[:wins] == 2 %>
<h3>Congratulations! You won!</h3>
<a href='/play_again'>Restart!</a>
<% elsif session[:losses] == 2 %>
<h3>Sorry! You lost!</h3>
<a href='/play_again'>Restart!</a>
<% else %>

<h3>Wins: <%= session[:wins] %></h3>
<h3>Losses: <%= session[:losses] %></h3>

<a href="/">Play again!</a>
<% end %>